/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
 body {
     overflow-x: hidden;
 }
 
 /* data table scroll-x-direction */
 
#dt_basic_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dt-toolbar,
.dt-toolbar-footer {
    padding: 10px;
    background: #f0f0f0;
}

#dt_basic {
    white-space: nowrap;
    width: max-content;
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
    position: relative;
}

#dt_basic tr th:nth-of-type(1),
td:nth-of-type(1) {
    background-color: #eee;
    position: sticky;
    left: 0;
}

#dt_basic_paginate ul li:hover{
    cursor: pointer;
}