/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */


/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
 
 body {
     overflow-x: hidden;
 }
 
 /* data table scroll-x-direction */
 
#dt_basic_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dt-toolbar,
.dt-toolbar-footer {
    padding: 10px;
    background: #f0f0f0;
}

.dt_basic {
    white-space: nowrap;
    width: max-content;
    border-collapse: collapse;
    width: 100%;
    overflow-x: scroll;
    display: block;
    position: relative;
}

.dt_basic tr th:nth-of-type(1),
td:nth-of-type(1) {
    background-color: #eee;
    position: sticky;
    left: 0;
    z-index: 1000;
}

#calendar-thead tr:nth-of-type(2) th:nth-of-type(1){
    position: relative;
    background-color: rgb(240, 237, 237);
    z-index: 1!important;
}

#calendar-thead tr th {
    padding: 3px;
    text-align: center;
}

#dt_basic_paginate ul li:hover{
    cursor: pointer;
}

#opedate_paginate ul li:hover{
    cursor: pointer;
}

.nodatathead{
    font-weight: 600; 
    width: 100%; 
    text-align: center;
}

.d-flex {
    display: flex!important;
}

.flex-column {
    display: flex;
    flex-direction: column!important;
}

.d-none {
    display: none!important;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-items-right {
    justify-items: right;
}

.align-items-center {
    align-items: center;
}

.m-0{
    margin: 0!important;
}

.mx-5px{
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.mb-3 {
    margin-bottom: 1rem!important;
}

.mb-4 {
    margin-bottom: 2rem!important;
}

.ml-3 {
    margin-left: 1rem!important;
}

.p-2 {
    padding: 0.5rem!important;
}

.px-7px{
    padding-left: 7px!important;
    padding-right: 7px!important;
}

.round {
    border-radius: 0.25rem!important;
}

#regist-main {
    margin:0;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#avatarimg {
    width: 80%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 5px;
}

#avatarimg:hover {
    cursor: pointer;
    border-color: #007bff;
}

.dropdown-menu li{
    padding: 5px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

td {
    text-align: center;
    align-content: center;
}

.bg-color-green {
    background-color: #7e9d3a;
}

.bg-color-blue {
    background-color: #6595b4;
}

.bg-color-grey {
    background-color: #333;
}

.text-white {
    color: white;
}

.ope-td {
    cursor: pointer;
    background-color: #7e9d3a;
}

.ope-td:hover {
    background-color: #cceb84;
    scale: 1.05;
}
