{% include 'layout/header.html' %}

    <!-- MAIN PANEL -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center"
        style="height: 100vh; background-color: #f4f4f4; margin: 0; padding: 0;">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 justify-content-center index-left">
            <button class="btn btn-primary" id="dashboard-button">
                <a href="https://lookerstudio.google.com/u/0/reporting/8c37f349-78e2-4c49-8842-2b080b11ffa0/page/iiRMF"
                    target="_blank">ダッシュボード</a>
            </button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 justify-content-center index-right">
            <form id="login-form" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="w-full form-section">
                    <label class="label">メールアドレス</label><br>
                    <label class="input w-full" for="email">
                        <input type="email" class="w-full" name="email" id="email" maxlength="50">
                    </label>
                </div>
                <div class="w-full form-section">
                    <label class="label">パスワード</label><br>
                    <label class="input password-container w-full" for="password">
                        <input type="password" class="w-full" name="password" id="password" maxlength="20">
                        <i class="icon-append fa fa-eye passhinttoogle"></i>
                    </label>
                </div>
                <div class="form-section">

                    <button type="submit" class="btn btn-primary">
                        ログイン
                    </button>
                    <button type="button" class="btn btn-default" onclick="location.href='/signup';">
                        登録画面へ
                    </button>
                </div>
                <!-- <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group" style="display: grid;">
                    <label for="password">Password:</label>
                    <label for="password">
                        <input type="password" class="form-control" id="password">
                        <i class="icon-append fa fa-eye passhinttoogle"></i>
                    </label>
                    
                </div>
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button> -->
            </form>
        </div>
    </div>
    <!-- END MAIN PANEL -->

    {% include 'layout/common-scripts.html' %}

    {% include 'layout/login-scripts.html' %}
