{% include 'layout/header.html' %}

		<!-- MAIN PANEL -->
		<div id="regist-main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content">

				<!-- row -->
				<div class="row">
					
					<!-- col -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1 class="page-title txt-color-blueDark">
							
							<!-- PAGE HEADER -->
							<i class="fa-fw fa fa-home"></i> 
                            ログイン
							<span>>
							</span>
						</h1>
					</div>
					<!-- end col -->
					
				</div>
				<!-- end row -->
				
				<!--
					The ID "widget-grid" will start to initialize all widgets below 
					You do not need to use widgets if you dont want to. Simply remove 
					the <section></section> and you can use wells or panels instead 
					-->
				
				<!-- widget grid -->
				<section id="widget-grid" class="">
				
					<!-- row -->
					<div class="row">
						
						<!-- NEW WIDGET START -->
						<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
									<h2> </h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body no-padding">
				
										<form class="smart-form" id="login-form">
											<header>
												ログイン
											</header>
				
                                            <fieldset class="col col-12 col-md-12 col-lg-12">
                                                <section>
                                                    <label class="label">メールアドレス</label>
                                                    <label class="input" for="email">
                                                        <input type="email" name="email" id="email" maxlength="50">
                                                    </label>
                                                    <label class="label">パスワード</label>
                                                    <label class="input" for="password">
                                                        <i class="icon-append fa fa-eye passhinttoogle"></i>
                                                        <input type="password" name="password" id="password" maxlength="20">
                                                    </label>
                                                </section>

                                            </fieldset>

				
											<footer>
												<button type="submit" class="btn btn-primary">
													ログイン
												</button>
												<button type="button" class="btn btn-default" onclick="location.href='/signup';">
													登録画面へ
												</button>
											</footer>
										</form>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				
							</div>
							<!-- end widget -->
				
						</article>
						<!-- WIDGET END -->
						
					</div>
				
					<!-- end row -->
				
				</section>
				<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

{% include 'layout/footer.html' %}

{% include 'layout/common-scripts.html' %}

{% include 'layout/manage-scripts.html' %}
		