<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive-->
			<nav>
				<ul>
					<li>
						<a href="/" title="ダッシュボード"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">ダッシュボード</span></a>
					</li>
					<li id="usermanage-nav" class="d-none">
						<a href="/users-page" title="ユーザー管理"><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">ユーザー管理</span></a>
					</li>
					<li>
						<a href="/reservation" title="予約データ入力"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">予約データ入力</span></a>
					</li>
					<li id="costmanage-nav" >
						<a href="/cost" title="客室価格管理"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">客室価格管理</span></a>
					</li>
					
				</ul>
			</nav>
			<span class="minifyme" data-action="minifyMenu"> 
				<i class="fa fa-arrow-circle-left hit"></i> 
			</span>

		</aside>
		<!-- END NAVIGATION -->