<!-- #HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{{ url_for('static', filename='img/logo.png')}}" alt="SmartAdmin"> </span>
        <!-- END LOGO PLACEHOLDER -->

    </div>

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right" style="display: flex; align-items: center;">
        <img id="top-avatar" src="{{ url_for('static', filename='img/avatars/default.png')}}" alt="" style="height: 100%;">
        <div class="dropdown ml-3">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="top-name">ユーザーさん
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="profileedit">プロファイル変更</li>
              <li id="logout">ログアウト</li>
            </ul>
        </div>
        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="メニューの非表示"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="全画面"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->