<script src="{{ url_for('static', filename='js/app/countrycode.js')}}"></script>
<script src="{{ url_for('static', filename='js/app/visual.js')}}"></script>
<script type="text/javascript">

	$(document).ready(function () {

		pageSetUp();
		var me = {};
		if(localStorage.getItem("me")){
			const medata = JSON.parse(localStorage.getItem("me"));
			me = {
				"id": medata[0],
				"firstname": medata[1],
				"lastname": medata[2],
				"gender": medata[3],
				"birth": medata[4],
				"email": medata[5],
				"role": medata[6],
				"avatar": medata[8]
			};
		}
		if (me){
			if(me?.role == "admin" || me?.role == "manager"){
				$("#usermanage-nav").removeClass("d-none");
			} else {
				$("#usermanage-nav").addClass("d-none");
			}
			
			//================== start top bar ===============//
			
			if (me.avatar) {
				$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}".replace("default.png", me.avatar));
			} else {
				$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}");
			}
			$("#top-name").text(me.firstname && me.lastname ? me.firstname + " " + me.lastname + "さん" : "ユーザーさん");
	
			$("#profileedit").click(async function () {
				location.href = await "/profile";
			});
			$("#logout").click(function () {
				localStorage.removeItem("me");
				location.href = "/login";
			});
		} else {
				// window.location.href = "/login";
		}
	
		draw_operation_chart();
		draw_opedate_pagination();
		draw_reservation_calendar();
		nationality_chart();
		draw_national_chart();
		get_ota_data();
		draw_ota_graph();

		//=============== end top bar ================//
		
		//=============== start visualization data  ==============//
		// operation days data adding 
       
		$("#fileaddbtn").click(function () {
			if($(this).attr("type")=="button"){
				$("#datafile").click();
			}
		});
		$("#datafile").change(function () {
			var fileName = $(this).val().split("\\").pop();
			$("#fileaddbtn").text("データフ追加(" + fileName + ")");
			$("#fileaddbtn").attr("type", "submit");
		});


		$("#datafile-form").submit(function (event) {
			event.preventDefault();
			var formData = new FormData($(this)[0]);
						
			$.ajax({
				type: "POST",
				url: "/operation",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					if (response.status == "success") {
						$("#fileaddbtn").text("データフ追加(CSVァイル)");
						$("#datafile").val("");
						$("#fileaddbtn").attr("type", "button");
						const pre_data = JSON.parse(response.data);
						
                        for (const key in pre_data) {
							sheetList.push(key);
                            operation_data.push([key, pre_data[key]]);
                        }
						localStorage.removeItem('operationData');
						localStorage.setItem('operationData', JSON.stringify(operation_data));
						localStorage.removeItem('operationSheetList');
						localStorage.setItem('operationSheetList', JSON.stringify(sheetList));
                        sheetNum = sheetList.length;
                        selSheet = 1;
                        draw_operation_chart();
                        draw_opedate_pagination();
						
					} else {
						alert("Error: " + response.message);
					}
				},
				error: function (xhr, status, error) {
                    console.log(error);
                    
					alert("申し訳ありませんが、もう一度お試しください。");
				}
			});
		});

        //change page number 
		$("#opedate_paginate").on("click", ".paginate_button", function () {
			if (!$(this).hasClass('disabled')){
				if($(this).hasClass('next')){
					selSheet += 1;
					
				} else if($(this).hasClass('previous')){
					selSheet -= 1;
					
				} 
				else{
					selSheet = $(this).attr("data-index");
				}
				draw_operation_chart(operation_data[selSheet-1]);
				draw_opedate_pagination();
			}
			
		});
		
		
		// operation days data removing 
		$("#dataremove").click(function () {
			if (confirm("Are you sure you want to delete all data?")) {
				localStorage.removeItem('operationData');
				localStorage.removeItem('operationSheetList');
				operation_data = [];
				activePage = 1;
				pageSize = 10;
				pageCount = 0;
				draw_operation_chart();
				draw_opedate_pagination();
			}
		});
		//=============== end reservation data  ==============//

        //================= draw reservation calendar ============//

		$("body").on("click", ".ope-td", function () {
			const id = $(this).attr("data-index");
			show_calender_modal(id/1);
		});
		
        //================= draw nationality configuration ============//

		$(document).on('change', '#analysisType', function () {
			const selectedValue = $(this).val();
			if(selectedValue == "month") {
				$("#selYearDiv").removeClass("d-none");
			} else {
				$("#selYearDiv").addClass("d-none");
			}
		});
	
		
		$(document).on('change', '#otaAnalysisType', function () {
			const selectedValue = $(this).val();
			if(selectedValue == "month") {
				$("#otaSelYearDiv").removeClass("d-none");
			} else {
				$("#otaSelYearDiv").addClass("d-none");
			}
		});
		
		
	});

</script>

</body>

</html>