<script type="text/javascript">

	$(document).ready(function () {

		/* chart colors default */
		var $chrt_border_color = "#efefef";
		var $chrt_grid_color = "#DDD"
		var $chrt_main = "#E24913";
		/* red       */
		var $chrt_second = "#6595b4";
		/* blue      */
		var $chrt_third = "#FF9F01";
		/* orange    */
		var $chrt_fourth = "#7e9d3a";
		/* green     */
		var $chrt_fifth = "#BD362F";
		/* dark red  */
		var $chrt_mono = "#000";

		pageSetUp();

		/* bar chart */

		if ($("#opedate-chart-1").length) {

		var data1 = [];
		for (var i = 1; i <= 14; i += 1)
			data1.push([i, parseInt(Math.random() * 100)]);

		var data2 = [];
		for (var i = 1; i <= 14; i += 1)
			data2.push([i, parseInt(Math.random() * 30)]);

		var data3 = [];
		for (var i = 1; i <= 14; i += 1)
			data3.push([i, parseInt(Math.random() * 30)]);

		var ds = new Array();

		ds.push({
			data : data1,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 1,
			}
		});
		ds.push({
			data : data2,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 2
			}
		});
		ds.push({
			data : data3,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 3
			}
		});

		//Display graph
		$.plot($("#opedate-chart-1"), ds, {
			colors : [$chrt_second, $chrt_fourth, "#666", "#BBB"],
			grid : {
				show : true,
				hoverable : true,
				clickable : true,
				tickColor : $chrt_border_color,
				borderWidth : 0,
				borderColor : $chrt_border_color,
			},
			legend : true,
			tooltip : true,
			tooltipOpts : {
				content : "<b>%x</b> = <span>%y</span>",
				defaultTheme : false
			}

		});

		}
		if ($("#opedate-chart-2").length) {

		var data1 = [];
		for (var i = 0; i <= 14; i += 1)
			data1.push([i, parseInt(Math.random() * 100)]);

		var data2 = [];
		for (var i = 0; i <= 14; i += 1)
			data2.push([i, parseInt(Math.random() * 30)]);

		var data3 = [];
		for (var i = 0; i <= 14; i += 1)
			data3.push([i, parseInt(Math.random() * 30)]);

		var ds = new Array();

		ds.push({
			data : data1,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 1,
			}
		});
		ds.push({
			data : data2,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 2
			}
		});
		ds.push({
			data : data3,
			bars : {
				show : true,
				barWidth : 0.2,
				order : 3
			}
		});

		//Display graph
		$.plot($("#opedate-chart-2"), ds, {
			colors : [$chrt_second, $chrt_fourth, "#666", "#BBB"],
			grid : {
				show : true,
				hoverable : true,
				clickable : true,
				tickColor : $chrt_border_color,
				borderWidth : 0,
				borderColor : $chrt_border_color,
			},
			legend : true,
			tooltip : true,
			tooltipOpts : {
				content : "<b>%x</b> = <span>%y</span>",
				defaultTheme : false
			}

		});

		}

		/* end bar chart */



		var me = {};
		if(localStorage.getItem("me")){
			const medata = JSON.parse(localStorage.getItem("me"));
			me = {
				"id": medata[0],
				"firstname": medata[1],
				"lastname": medata[2],
				"gender": medata[3],
				"birth": medata[4],
				"email": medata[5],
				"role": medata[6],
				"avatar": medata[8]
			};
		}
		console.log(me);

		if(me?.role == "admin" || me?.role == "manager"){
			$("#usermanage-nav").removeClass("d-none");
		} else {
			$("#usermanage-nav").addClass("d-none");
		}
		


		//================== start top bar ===============//
		
		if (me.avatar) {
			$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}".replace("default.png", me.avatar));
		} else {
			$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}");
		}
		$("#top-name").text(me.firstname && me.lastname ? me.firstname + " " + me.lastname + "さん" : "ユーザーさん");

		$("#profileedit").click(async function () {
			location.href = await "/profile";
		});
		$("#logout").click(function () {
			localStorage.removeItem("me");
			location.href = "/login";
		});
		//=============== end top bar ================//
		
		//=============== start visualization data  ==============//
		// operation days data adding 
        var operation_data = [];
		$("#fileaddbtn").click(function () {
			if($(this).attr("type")=="button"){
				$("#datafile").click();
			}
		});
		$("#datafile").change(function () {
			var fileName = $(this).val().split("\\").pop();
			console.log(fileName);
			$("#fileaddbtn").text("データフ追加(" + fileName + ")");
			$("#fileaddbtn").attr("type", "submit");
		});

		$("#datafile-form").submit(function (event) {
			event.preventDefault();
			var formData = new FormData($(this)[0]);
						
			$.ajax({
				type: "POST",
				url: "/operation",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					if (response.status == "success") {
						$("#fileaddbtn").text("データフ追加(CSVァイル)");
						$("#datafile").val("");
						$("#fileaddbtn").attr("type", "button");
						localStorage.removeItem('operationData');
						localStorage.setItem('operationData', JSON.stringify(response.data));
						operation_data = response.data;
						
						
					} else {
						alert("Error: " + response.message);
					}
				},
				error: function (xhr, status, error) {
					alert("申し訳ありませんが、もう一度お試しください。");
				}
			});
		});
		
		
		// operation days data removing 
		$("#dataremove").click(function () {
			if (confirm("Are you sure you want to delete all data?")) {
				localStorage.removeItem('reservationData');
				reservation_data = [];
				activePage = 1;
				pageSize = 10;
				pageCount = 0;
				draw_reservationTable();
				draw_pagination();
			}
		});
		//=============== end reservation data  ==============//
	})

</script>

</body>

</html>