<script src="{{ url_for('static', filename='js/app/countrycode.js')}}"></script>
<script src="{{ url_for('static', filename='js/app/visual.js')}}"></script>
<script type="text/javascript">

	$(document).ready(function () {

		pageSetUp();
		var me = {};
		if(localStorage.getItem("me")){
			const medata = JSON.parse(localStorage.getItem("me"));
			me = {
				"id": medata[0],
				"firstname": medata[1],
				"lastname": medata[2],
				"gender": medata[3],
				"birth": medata[4],
				"email": medata[5],
				"role": medata[6],
				"avatar": medata[8]
			};
		}
		if (me){
			if(me?.role == "admin" || me?.role == "manager"){
				$("#usermanage-nav").removeClass("d-none");
			} else {
				$("#usermanage-nav").addClass("d-none");
			}
			
			//================== start top bar ===============//
			
			if (me.avatar) {
				$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}".replace("default.png", me.avatar));
			} else {
				$("#top-avatar").attr("src", "{{ url_for('static', filename='img/avatars/default.png')}}");
			}
			$("#top-name").text(me.firstname && me.lastname ? me.firstname + " " + me.lastname + "さん" : "ユーザーさん");
	
			$("#profileedit").click(async function () {
				location.href = await "/profile";
			});
			$("#logout").click(function () {
				localStorage.removeItem("me");
				location.href = "/login";
			});
		} else {
				// window.location.href = "/login";
		}

		//=============== end top bar ================//
		
		//=============== start visualization data  ==============//
		// operation days data adding 
        var operation_data = [];
		$("#fileaddbtn").click(function () {
			if($(this).attr("type")=="button"){
				$("#datafile").click();
			}
		});
		$("#datafile").change(function () {
			var fileName = $(this).val().split("\\").pop();
			console.log(fileName);
			$("#fileaddbtn").text("データフ追加(" + fileName + ")");
			$("#fileaddbtn").attr("type", "submit");
		});


		$("#datafile-form").submit(function (event) {
			event.preventDefault();
			var formData = new FormData($(this)[0]);
						
			$.ajax({
				type: "POST",
				url: "/operation",
				data: formData,
				contentType: false,
				processData: false,
				success: function (response) {
					if (response.status == "success") {
						$("#fileaddbtn").text("データフ追加(CSVァイル)");
						$("#datafile").val("");
						$("#fileaddbtn").attr("type", "button");
						localStorage.removeItem('operationData');
						localStorage.setItem('operationData', JSON.stringify(response.data));
						const pre_data = JSON.parse(response.data);

                        for (const key in pre_data) {
                            sheetList.push(key);
                            operation_data.push([key, pre_data[key]]);
                        }
                        sheetNum = sheetList.length;
                        selSheet = 1;
                        const disData = operation_data[selSheet-1];
                        draw_operation_chart(disData);
                        draw_opedate_pagination();
						
					} else {
						alert("Error: " + response.message);
					}
				},
				error: function (xhr, status, error) {
                    console.log(error);
                    
					alert("申し訳ありませんが、もう一度お試しください。");
				}
			});
		});

        //change page number 
		$("#opedate_paginate").on("click", ".paginate_button", function () {
			if (!$(this).hasClass('disabled')){
				if($(this).hasClass('next')){
					selSheet += 1;
					console.log("next");
					
				} else if($(this).hasClass('previous')){
					selSheet -= 1;
					console.log("prev");
					
				} 
				else{
					selSheet = $(this).attr("data-index");
				}
				draw_operation_chart(operation_data[selSheet-1]);
				draw_opedate_pagination();
			}
			
		});
		
		
		// operation days data removing 
		$("#dataremove").click(function () {
			if (confirm("Are you sure you want to delete all data?")) {
				localStorage.removeItem('reservationData');
				reservation_data = [];
				activePage = 1;
				pageSize = 10;
				pageCount = 0;
				draw_reservationTable();
				draw_pagination();
			}
		});
		//=============== end reservation data  ==============//

        //================= draw reservation calendar ============//
        draw_reservation_calendar();
		
        //================= draw nationality configuration ============//
		nationality_chart();


		if ($('#bar-graph').length) {

			Morris.Bar({
				element : 'bar-graph',
				data : [{
					x : '2011 Q1',
					y : 0
				}, {
					x : '2011 Q2',
					y : 1
				}, {
					x : '2011 Q3',
					y : 2
				}, {
					x : '2011 Q4',
					y : 3
				}, {
					x : '2012 Q1',
					y : 4
				}, {
					x : '2012 Q1',
					y : 4
				}, {
					x : '2012 Q1',
					y : 4
				}, {
					x : '2012 Q1',
					y : 4
				}, {
					x : '2012 Q2',
					y : 5
				}, {
					x : '2012 Q3',
					y : 6
				}, {
					x : '2012 Q4',
					y : 7
				}, {
					x : '2013 Q1',
					y : 8
				}],
				xkey : 'x',
				ykeys : ['y'],
				labels : ['Y'],
				barColors : function(row, series, type) {
					if (type === 'bar') {
						var red = Math.ceil(150 * row.y / this.ymax);
						return 'rgb(' + red + ',0,0)';
					} else {
						return '#000';
					}
				}
			});

			}


	})

</script>

</body>

</html>